*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

* {
    text-align: center;
}

.title {
    width:500px;
    padding: 20px;
    margin: 20px auto;
    border: solid black;
}
body {
    font-style: Verdana, "Times New Roman", sans-serif;
    background-color: bisque;
}
h1, h2, h3 {
    color:rgb(196, 66, 66);
    background-color: rgb(226, 190, 122);
    font-weight: bolder;
}

.links a {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    display: inline-block;
    
    
}

.links a:hover {
    color:rgb(45, 16, 173);
    text-decoration: none;
}

img {
    height: auto;
    width: 300px;
}